<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="galleryWrapper">
    <h1>{{ image.title }}</h1>
    <a href="/">X</a>
    <img src="{{ image.url }}" alt="{{ image.title }}">
</div>
</body>
</html>